@font-face {
  font-family: 'outfit-400';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
    font-family: 'young-serif-400';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'young-serif-600';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'young-serif-700';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 700;
}
:root {
    /*colors*/
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);

    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    /*fonts*/

    --outfit-400 : 'outfit-400';
    --young-serif-400 : 'young-serif-400';
    --young-serif-600 : 'young-serif-600';
    --young-serif-700 : 'young-serif-700';

    --font-size : 16px;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-family: var(--outfit-400);
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* > *:not(:last-child) {
  margin-block-end: 1em;
}

.bold {
  font-weight: bold;
}

.container {
    inline-size: 90%;
    max-inline-size: 1440px ;
    margin-inline: auto;
}

/*Resize the recipe image when the screen is bigger than 375px*/
@media (min-width : 375px) {
    .recipe-image {
        inline-size: 90%;
        max-inline-size: 1440px;
        margin-inline: auto;
        border-start-start-radius: 15px;
        border-start-end-radius: 15px;
        margin-block-start: 3em;
    }
}

.recipe-title {
    font-family: var(--young-serif-700);
    line-height: 1;
}

.preparation-time-title, .preparation-time-list-item {
  font-size: 0.9em;
}

.preparation-time-title {
  color: var(--Rose-800);
}

.preparation-time {
  margin-block: 2em;
  background-color: var(--Rose-50);
  padding: 1.5em;
}

.title {
  font-family: var(--young-serif-600);
  color: var(--Brown-800);
}

.instructions-list, .ingredients-list, .preparation-time-list {
  padding-left: 1em;
}

.instructions-list-item::marker {
  color: var(--Brown-800);
  font-weight: bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.value {
  color: var(--Brown-800);
  font-weight: 800;
}

.table { 
    width: 100%; 
    border-collapse: collapse; 
}

.nutrition-table-data {
    padding-bottom: 0.75em;
    padding-top: 0.75em; 
    border-bottom: 1px solid #eee;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.table td { 
    inline-size: 50%; 
}

.table td.value {
    text-align: start; 
}

.table tr:last-child .nutrition-table-data {
    border-bottom: none;
}


